.hero-section {
  display: flex;
  margin: 3rem;
  align-items: center;
}
.btn-home {
  padding: 1rem;
  font-size: 1.5rem;
  background-color: var(--primary-color);
  color: var(--secondary-dark);
  border-color: var(--primary-color);
  border-radius: 4px;
}
.hero-h1 {
  width: 70%;
  margin: 0 auto;
}

.hero-info {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
