.navbar-options {
  display: flex;
}
.navbar-links {
  padding: 1rem;
}
.navbar {
  display: flex;
  justify-content: flex-end;
}
.navbar-options a {
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--secondary-dark);
}
.logout-btn {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  margin-top: 0.2rem;
}
