.footer {
  padding: 1rem;
  font-size: 1.4rem;
  background-color: var(--secondary-dark);
  color: var(--white);
  /* position: fixed; */
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
}
